*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.menu {
  display: flex;
  /* justify-content: flex-end; */
  /* height: 70px; */
  /* background: blue; */
  /* color: #f0f0f0; */
  /* background-color: aqua; */
}

.menu-item {
  margin-right: 20px;
  /* font-size: 20px; */
  /* padding: 10px 0; */
}

.dropdown {
  position: relative;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}

.dropdown:hover .submenu {
  display: block;
}

.submenu-item {
  padding: 10px;
  background-color: #f0f0f0;
}